/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bricolage+Grotesque&family=Comfortaa:wght@500&family=Open+Sans&family=Orbitron&family=Oswald:wght@300;400;700&family=Pacifico&family=Pixelify+Sans&family=Quicksand&family=Space+Grotesk&display=swap');


/* universal */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;  
}

/* navigation bar section*/
/* -------------------------------------------------------- */
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#232D3F;
    padding: 25px 20px;
    position: sticky;
    top: 0px;
    z-index: 12;
}
/* user icon */
.user-icon{
    margin-left: 20px;
}
.user-icon a{
    font-size: 25px;
    text-decoration: none;
    color: white;
}
.user-icon:hover{
    transform: scale(1.2);
}
/* brand name */
.brand-name{
    margin-left: 120px;
    color: white;
}
.brand-name h2{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}
/* search box */
.search-box input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

/* product section */
/* --------------------------------------------------------- */

/* column 1 */
.product-image:hover{
    transform: scale(1.2);
    transition: all 0.4s ease;

}

/* column 2 */
.product-heads{
    margin: 10px;
}
.product-heads h4{
    margin-bottom: 30px;
}
.product-heads h2{
    font-weight: bold;
}
.product-ul{
    margin-left: 10px;
    margin-top: 40px;
}
.product-ul li{
    margin-top: 10px;
}

/* column 3 */
.buy-button{
    background-color: #919090;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.b1{
    margin-top: 100px;
    margin-left: 20px;
}
.b2{
    margin-top: 40px;
    margin-left: 20px;
}
.share-icons{
    margin-top: 50px;
    font-size: 25px;
}
.icon1{
    margin: 0px 45px;
}
.icon2{
    margin: 0px 25px;
}

.buy-button:hover{
    transform: scale(1.2)
}
.icon1:hover{
    transform: scale(1.3);
    transition: all 0.4s ease;
    cursor: pointer;
}
.icon2:hover{
    transform: scale(1.3);
    transition: all 0.4s ease;
    cursor: pointer;
}

/* details section */
/* ------------------------------------------------------------- */

/* description row */
.desc-head{
    padding-top: 20px;
}
.desc-p{
    text-align: justify;
}

/* specification row */

/* column 1 */
.gen-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.gen-ul{
    list-style-type: none;
    margin-left: -30px;
}
.gen-ul li{
    font-weight: bold;
}
.gen-ul li span{
    color: black;
}

/* column 2 */
.proc-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.proc-ul{
    list-style-type: none;
    margin-left: -30px;
}
.proc-ul li{
    font-weight: bold;
}
.proc-ul li span{
    color: black;
}

/* column 3 */
.oper-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.oper-ul{
    list-style-type: none;
    margin-left: -30px;
}
.oper-ul li{
    font-weight: bold;
}
.oper-ul li span{
    color: black;
}

/* column 4 */
.port-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.port-ul{
    list-style-type: none;
    margin-left: -30px;
}
.port-ul li{
    font-weight: bold;
}
.port-ul li span{
    color: black;
}
/* column 5 */
.disp-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.disp-ul{
    list-style-type: none;
    margin-left: -30px;
}
.disp-ul li{
    font-weight: bold;
}
.disp-ul li span{
    color: black;
}

/* column 6 */
.connect-head{
    margin: 20px 0px;
    font-weight: bolder;
    color: black;
}
.connect-ul{
    list-style-type: none;
    margin-left: -30px;
}
.connect-ul li{
    font-weight: bold;
}
.connect-ul li span{
    color: black;
}


/* --------------------------------------------------- */
/* responsive section */
/* --------------------------------------------------- */

/* mobile portrait */
/* --------------- */
@media (min-width: 320px) and (max-width: 480px) {
    /* navbar----------------- */
    nav{
        padding: 25px 0px;
    }
    /* user icon */
    .user-icon{
    margin-left: 20px;
    }
    .user-icon a{
    font-size: 20px;
    }
    /* brand name */
    .brand-name{
        margin-left: 0px;
    }
    /* search box */
    .search-box input{
        width: 100px;
    }
    .search-box{
        margin-right: 10px;
    }
    /* product section------------------------ */
    /* column 3 */
    .buy-button{
        background-color: #919090;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
    }
    .b1{
        margin-top: 20px;
        margin-left: 20px;
    }
    .b2{
        margin-top: 20px;
        margin-left: 20px;
    }
    .share-icons{
        margin: 30px 0px;
        font-size: 25px;
        display: flex;
        

    }
    .icon1{
        margin: 0px 25px;
    }
    .icon2{
        margin: 0px 15px;
    }

}

/* mobile landscape */
/* ---------------- */
@media (min-width: 481px) and (max-width: 768px) {
    /* navbar----------------- */
    nav{
        padding: 25px 0px;
    }
    /* user icon */
    .user-icon{
    margin-left: 20px;
    }
    .user-icon a{
    font-size: 20px;
    }
    /* brand name */
    .brand-name{
        margin-left: 0px;
    }
    /* search box */
    .search-box input{
        width: 100px;
    }
    .search-box{
        margin-right: 10px;
    }
    /* product section------------------------ */
    /* column 3 */
    .buy-button{
        background-color: #919090;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
    }
    .b1{
        margin-top: 20px;
        margin-left: 20px;
    }
    .b2{
        margin-top: 20px;
        margin-left: 20px;
    }
    .share-icons{
        margin: 30px 0px;
        font-size: 25px;
        display: flex;
        

    }
    .icon1{
        margin: 0px 25px;
    }
    .icon2{
        margin: 0px 15px;
    }

}

